{% extends 'base.html' %}

{% block content %}
<form class="form" action="" method="POST">
    <div id='author-form' class="form-group">
        {% csrf_token %}
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password">
        <label for="first_name">First Name</label>
        <input class="form-control" type="text" name="first_name"><br>
        <label for="last_name">Last Name</label>
        <input class="form-control" type="text" name="last_name"><br>
        <br>
        <button class="button">Submit</button>
        <br>
    </div>
</form>
{% endblock %}