{% extends 'base.html' %} {% block content %}
<form action="{% url 'add_proposal' %}" method="POST">
  {% csrf_token %} title: <br />
  <input
    type="text"
    name="title"
    placeholder="Please Enter a Title for your Proposal"
  /><br /><br />
  <textarea
    name="project_description"
    id=""
    cols="30"
    rows="10"
    placeholder="Please Enter a Description for your Proposal"
  ></textarea
  ><br />
  <input
    type="url"
    name="map_id"
    placeholder="Please Enter a URL for your Web Mapping Application"
  />
  <br />
  <input
  type="date"
  id="start"
  name="project_date_start"
  value="2021, 06, 03"
  min="2021-01-01"
  max="2030-12-31"
/>
<br />
<input
  type="date"
  id="end"
  name="project_date_end"
  value="2021, 06, 15"
  min="2021-01-01"
  max="2030-12-31"
/>
  <input type="submit" />
</form>
{% endblock %}
