{% extends 'base.html' %} {% block content %}
{% csrf_token %}

<h1>Title: {{details.title}}</h1>
<p>Project Description: {{details.project_description}}</p>
<p>Web Mapping Application URL: </p>
<b>{{details.map_id}}</b>
<form action="{% url 'add_task' details.id %}" method="POST">
{% csrf_token %}
<input
    class="openbtn" onclick="openNav()"
    id="myBtn"
    type="text"
    name="gantt_title"
    placeholder="Please Enter a Task for your Gantt Chart"
  />
  <br />
<input
  type="date"
  id="start"
  name="gantt_date_start"
  value="2021-06-11"
  min="2021-01-01"
  max="2030-12-31"
/>
<br />
<input
  type="date"
  id="end"
  name="gantt_date_end"
  value="2021-07-16"
  min="2021-01-01"
  max="2030-12-31"
/>
<a><button type="submit">Add Task</button></a>
<ul>
  {% for t in details.task_set.all %}
  <ul>
    {{t.taskItem}}. Start Date: <b>{{t.gantt_date_start}}</b>, End Date: <b>{{t.gantt_date_end}}</b>
    <a name="delete_task" href="{% url 'delete_task' t.id %}">Remove Task</a>
  </ul>  
  {% endfor %}
</ul>
<br /><br />
</ul>
</form>
{% endblock %}
