{% extends 'base.html'%} {% block content %} {% load static %}
<a href="https://cdmsmith.com/en/" target="_blank"
  ><img src="{% static 'images/CDMlogo.png' %}"
/></a>
<h1><span>{{post.title}}</span></h1>
<div id="Project" class="Project">
  <p class="Project">Project Description: {{post.project_description}}</p>
</div>
<h5>Previously Created Web Mapping Application</h5>
<div id="JAX" class="JAX">
  <iframe
    width="800"
    height="700"
    frameborder="1"
    scrolling="yes"
    marginheight="1"
    marginwidth="1"
    src="{{post.map_id}}"
  ></iframe>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/timeline.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<figure class="highcharts-figure">
  <div id="container"></div>

  <h5 class="highcharts-description">
    Timeline charts are used to place tasks on a time axis, such as this example
    showing the major tasks in {{post.title}}.
  </h5>
</figure>
<script>
  fetch(`http://127.0.0.1:8000/proposal_detail/{{post.id}}`)
    .then((response) => response.json())
    .then((data) => {
      var chart_data = []
      data.forEach((i)=>
      chart_data.push({name: i.taskItem, label: `Start: ${i.gantt_date_start}<br>End: ${i.gantt_date_end}`}));
        const chart = new Highcharts.chart("container", {
          chart: {
            borderColor: "#003087",
            borderWidth: 2,
            backgroundColor: {
              linearGradient: [0, 0, 500, 500],
              stops: [
                [0, "rgb(255, 255, 255)"],
                [1, "rgb(0, 48, 135)"],
              ],
            },
            type: "timeline",
          },
          accessibility: {
            screenReaderSection: {
              beforeChartFormat:
                "<h5>{chartTitle}</h5>" +
                "<div>{typeDescription}</div>" +
                "<div>{chartSubtitle}</div>" +
                "<div>{chartLongdesc}</div>" +
                "<div>{viewTableButton}</div>",
            },
            point: {
              valueDescriptionFormat:
                "{index}. {point.label}. {point.description}.",
            },
          },
          xAxis: {
            visible: false,
          },
          yAxis: {
            visible: false,
          },
          title: {
            text: "{{post.title}} Project Timeline",
          },
          credits: {
            enabled: false,
          },
          colors: ["#7ac143"],
          series: [
            {
              data:
                chart_data
              ,
            },
          ],
        });
    });
</script>
{% endblock %}

