{% extends 'base.html' %} {% block content %} {% csrf_token %}
<a href="{% url 'add_proposal'%}">Add another Proposal</a>
<ul>
  {% for proposal in proposals%}
  <p>
    <a href="{% url 'see_details' proposal.id%}"
      >Add Task and Dates: {{ proposal.title }}</a
    >
  </p>
  <p>Title: {{proposal.title}}</p>
  <p>Project Description: {{proposal.project_description}}</p>
  <p>Web Mapping Application URL:</p>
  <b>{{proposal.map_id}}</b>
  <p>Tasks: {% for t in proposal.task_set.all %}
    <ul>{{t.taskItem}}. Start Date: <b>{{t.gantt_date_start}}</b>, End Date: <b>{{t.gantt_date_end}}</b></ul>
  {% endfor %}</p>
  <b
    ><p>
      <a href="{% url 'proposal_view' proposal.id%}"
        >View Final Proposal: {{ proposal.title }}</a
      >
    </p></b
  >
  {% endfor %}
</ul>
{% endblock %}
